In [15]:
import pandas as pd 
import numpy as np

In [3]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
# print(dir(soup))

In [4]:
site = "https://www.flipkart.com/clothing-and-accessories/topwear/pr?sid=clo%2Cash&otracker=categorytree&p%5B%5D=facets.ideal_for%255B%255D%3DMen&otracker=nmenu_sub_Men_0_Top%20wear"
uClient = uReq(site)
page= uClient.read()
uClient.close()

In [5]:
work = soup(page, "html.parser")
div = work.find_all("div", { "class": "_1YokD2 _2GoDe3 col-12-12"})
len(div)

1

In [6]:
div = work.find_all("div", { "class": "_1xHGtK _373qXS"})
len(div)

40

In [7]:
name  = work.find_all("div", { "class": "_2WkVRV"})
description  = work.find_all("a", { "class": "IRpwTa"})
discount  = work.find_all("div", { "class": "_3Ay6Sb"})
price = work.find_all("div", { "class": "_30jeq3"})

In [8]:
Products = []
Price = []
Description = []
Discount = []

for i in name:
    p = i.text
    Products.append(p)

for i in price:
    pp= i.text
    Price.append(pp)
    
for i in description:
    des = i.text
    Description.append(des)
    
for i in discount:
    dis = i.text
    Discount.append(dis)

In [14]:
# df.to_csv("wears.csv")
# df.to_csv ("C:\\Users\\user\\Desktop\\Web Scrapping\\ass\\wears.csv")

In [9]:
site2 = "https://www.flipkart.com/clothing-and-accessories/topwear/pr?sid=clo%2Cash&otracker=categorytree&p%5B%5D=facets.ideal_for%255B%255D%3DMen&otracker=nmenu_sub_Men_0_Top+wear&page=2"
Client = uReq(site)
page2= Client.read()
Client.close()
work2 = soup(page2, "html.parser")

In [10]:
tag = work2.find_all("div", { "class": "_1xHGtK _373qXS"})
len(tag)

40

In [11]:
name2  = work2.find_all("div", { "class": "_2WkVRV"})
description2  = work2.find_all("a", { "class": "IRpwTa"})
discount2  = work2.find_all("div", { "class": "_3Ay6Sb"})
price2 = work2.find_all("div", { "class": "_30jeq3"})


for i in name2:
    dip = i.text
    Products.append(dip)

for i in price:
    dip2= i.text
    Price.append(dip2)
    
for i in description:
    dip3 = i.text
    Description.append(dip3)
    
for i in discount:
    dip4 = i.text
    Discount.append(dip4)

In [16]:
df = pd.DataFrame({"Product":Products,"Description":Description, "Price":Price,"Discount":Discount})
# df.index = pd.RangeIndex(start=1, stop=81, step=1)
df

,Product,Description,Price,Discount
0,HIGHLANDER,Men Slim Fit Checkered Cut Away Collar Casual ...,₹449,55% off
1,HRX by Hrithik Roshan,Solid Men Polo Neck Black T-Shirt,₹493,62% off
2,Eyebogler,Self Design Men Round Neck Black T-Shirt,₹299,76% off
3,TRIPR,"Solid Men Mandarin Collar Grey, Black T-Shirt",₹299,85% off
4,Dennis Lingo,Men Slim Fit Solid Slim Collar Casual Shirt,₹500,72% off
...,...,...,...,...
75,HIGHLANDER,Men Slim Fit Printed Spread Collar Casual Shirt,₹428,61% off
76,Pepzo,Men Regular Fit Solid Spread Collar Casual Shirt,₹345,82% off
77,Eyebogler,"Striped Men Polo Neck Blue, White T-Shirt",₹349,73% off
78,FastColors,"Printed Men Hooded Neck Black, Red T-Shirt",₹249,87% off
79,HIGHLANDER,Men Slim Fit Printed Cut Away Collar Casual Shirt,₹503,52% off

In [29]:
import re
col = ["Black", "Red","Blue", "White ","Grey","Green","Yellow","Dark Blue","Checkered","Brown" ]
for d in df.Description:
    x = re.findall(, d)
    print(x)

TypeError: findall() takes from 2 to 3 positional arguments but 11 were given

In [ ]:
col = ["Black", "Red","Blue", "White ","Grey","Green","Yellow","Dark Blue","Checkered","Brown" ]